<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!-- 引入外部css文件 -->
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <header>
        <nav>
            <h2 class="logo"><a href="#">个人博客</a></h2>
            <ul>
                <li><a href="#">网站首页</a></li>
                <li><a href="#">文章列表</a></li>
                <li><a href="#">我的相册</a></li>
                <li><a href="#">留言</a></li>
                <li><a href="#">关于我</a></li>
                <li><a href="#">发表博客</a></li>
            </ul>
            <div>
                <a href="#" id="login">登录</a>
                <a href="#" id="register">注册</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="banner">
            <ul class="fader">
                <li class="slide">
                    <a href="#"><img src="../static/images/banner01.jpg" alt="banner1">
                        <span class="imginfo">爬虫微课5小时 Python 学习路线！</span>
                    </a>
                </li>
            </ul>
            
        </div>
    </main>
    <footer></footer>
</body>
</html>